/*
* === ALL OF DOCUMENT ===
*
* This sets default settings and page boundaries to the entire document
*/
#container {
	width: 50%;
	margin: 20px auto;
	font-size: 16px;
	border-radius: 5px;
	background-color: maroon; /* SWITCH: paint background maroon */
	border: 2px solid red; /* SWITCH: set border to red */
}

/* === HEADER ===
* 
* Attributes of header, including any text that acts as a "title"
*/
header {
	margin: 10px; 
	padding: 10px;
	text-align: center;
	background-color: #e2e1e0;
	/*border: 2px solid cyan; SWITCH: set border to cyan */
}

/* Title that rests inside header of page */
.title {
	display: inline-block;
	padding: 10px;
	font-size: 36px;
	color: black;
	/*border: 2px solid orange; SWITCH: set border to orange */
}

/*
* === BODY ===
*
* Created psuedo rows and columns in order to not format page with <table>
* Holds the login form
*/
.row {
	display: block;
	clear: both;
	overflow: auto;
	width: auto
	margin: 10px;
	padding: 10px;
	/*border: 2px solid yellow; SWITCH: set border to yellow */
}

.col {
	margin: auto;
	padding: 5px;
	width: 50%;
	text-align: center;
	color: white;
	/*text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000; SWITCH: give text drop shadow */
	/*border: 2px solid purple; SWITCH: set border to purple */
}

#login {
	margin: auto;
	padding: 10px;
	/*border: 1px solid green; SWITCH: set border to green */
}